@model Contrib.DefinitionList.ViewModels.DefinitionListAdminEditViewModel

@{ Layout.Title = T("Manage term: {0}", Model.Term).ToString(); }

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    <fieldset>
        @Html.HiddenFor(m=>m.Id)
        @Html.LabelFor(m => m.Term, T("Term"))
        @Html.TextBoxFor(m => m.Term, new { @class = "text" })
    </fieldset>

	<fieldset>
        @Html.LabelFor(m => m.Definition, T("Defintion"))
        @Html.TextAreaFor(m => m.Definition, new { @class = "text" })
    </fieldset>
	
    <fieldset>
        <button class="primaryAction" type="submit">@T("Save")</button>
    </fieldset>
}