@model Contrib.DefinitionList.ViewModels.DefinitionListAdminEditViewModel

@{ Layout.Title = T("Manage term: {0}", Model.Term).ToString(); }

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    <fieldset>
        @Html.HiddenFor(m=>m.Id)
        @Html.LabelFor(m => m.Term, T("Term"))
        @Html.TextBoxFor(m => m.Term, new { @class = "text" })
    </fieldset>

	<fieldset>
        @Html.LabelFor(m => m.Definition, T("Defintion"))
        @Html.TextAreaFor(m => m.Definition, new { @class = "text" })
    </fieldset>

	<fieldset>
        @{ var subItemIndex = 0;
           var disabledDictionary = new Dictionary<string, object>();
           disabledDictionary.Add("disabled", "disabled");}
		@foreach (var subItem in Model.SubItems) {
            @Html.CheckBoxFor(m => Model.SubItems[subItemIndex].Checked, subItem.Disabled ? disabledDictionary : null)
            @Html.LabelFor(m => subItem.Record.Id, T("{0}", subItem.Record.Term))
            subItemIndex++;
        }
    </fieldset>
		
    <fieldset>
        <button class="primaryAction" type="submit">@T("Save")</button>
    </fieldset>
}