@model Contrib.DefinitionList.ViewModels.DefinitionListAdminIndexViewModel
@using Orchard.Utility.Extensions;
@using Contrib.DefinitionList.ViewModels;
@{
    Script.Require("ShapesBase");
    Layout.Title = T("A-Z").ToString();
}

@Html.ValidationSummary() 
@using(Html.BeginFormAntiForgeryPost()) {
    <fieldset>
        <table class="items" summary="@T("This is a table of the definitions in the site")" >
            <colgroup>
                <col id="Term" />
                <col id="Definition" />
                <col id="Edit" />
            </colgroup>
            <thead>
                <th scope="col">@T("Term")</th>
                <th scope="col">@T("Definition")</th>
                <th scope="col"></th>
            </thead>
            @{ var definitionIndex = 0; }
            @foreach (var definition in Model.Definitions) { 
            <tr>
                <td>
                    @Html.ActionLink(definition.Record.Term, "Edit", new { id = definition.Record.Id })
                </td>
                <td>
                    @definition.Record.Definition
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = definition.Record.Id }, new { @class = "button grey" })
					@Html.ActionLink("Delete", "Delete", new { id = definition.Record.Id }, new { @class = "button remove" })
                </td>
            </tr>
                definitionIndex++;
            }
        </table>
    </fieldset>
	<fieldset>
		@Html.ActionLink("Create New", "Create", null, new { @class = "button" })
	</fieldset>
}